<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange Book Value Application Test Automation Test Suite" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="ExtentReportListener.ExtentReporterNG"></listener>
    </listeners>
    
    <test name="OBV App Test Cases">
        <classes>
            <class name="Parallel_Testing"></class>
        </classes>
    </test>
</suite>